
.sidebar img {
	max-width:120px;
	}

.sidebar { 
	width: 120px;
	float: left;
	margin-left: -140px;
	margin-top:20px;
}
.sidebar_meta {
    margin-right: -150px;
    margin-top:-3px;
    width: 120px;
    float: right;
    font-size:14px;
    color:#555;
}
.shares a,
.tags a {
	text-decoration:none;
    font-size: 14px;
    font-style:normal;
    line-height:18px;
}
.sidebar_meta .shares,
.sidebar_meta .tags {
    font-size: 12px;
    font-style: italic; 
}

.sidebar_meta .header {
	margin-top:10px;
}
.sidebar_meta .time {
    font-size:12px; 
    font-style:italic;
    margin-bottom:10px;
}
