 
body {
  /* cores de texto */
  --text-white: #ffffff;
  --text-dark: #142136;

  /* cores de fundo */
  --bg-grey-light: #f5f5f5;
  --bg-white: #ffffff;
  --bg-blue-dark: #142136;
  --bg-indigo: #6366f1;
 
  line-height: 1.7;
  background-color: var(--bg-grey-light)!important;
}
.dark {
  --text-white: #e6e6e6;
  --text-dark: #ffffff;
  --bg-grey-light: #142136;
  --bg-white: #22395d;
  --bg-blue-dark: #142136;
  --bg-indigo: #7577e1;
} 
p {
  font-size: 16px;
  color: var(--text-dark)!important;
}
h1 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 40px;
  color: var(--text-dark)!important;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.button {
  width: 200px;
  padding: 5px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--bg-indigo)!important;
  color: var(--text-white)!important;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}


body {
    background-color: var(--main-background-color);
    color: var(--main-text-color); 
    margin:0px;
    padding:0px;
	display: flex;
	flex-direction: column;
}


a, a:active, a:visited {
    color: var(--link-color);
}
a:hover {
    color: var(--link-color);
}
.box {
	border:1px solid var(--box-border);
	border-bottom:2px solid var(--box-border);
	border-right:2px solid var(--box-border);
	margin-bottom:20px;
	padding:9px;
}

body, select, input, textarea {
   color: var(--main-text-color); 
   font-family:Ubuntu;
	font-size: 16px;
	background-color: var(--main-background-color);
	
} 

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }


a, a:active, a:visited {
    color: var(--link-color);
}
a:hover {
    color: var(--link-color);
}



.optn button,
.optn input {
	border:none;
	box-shadow:none;
	border-radius:3px;
	background:#333333;
	font-size:13px;
	color:white;
	height: 22px;
}


.optn form {
	margin-top:6px;
	display:flex;
	color:white;
	font-size:13px;
} 

.test1{color:pink;}


div.toggle_alert a#introdisplay-toggle {
	background-image: url(../src/close.svg);
	padding-left: 25px;
	padding-right: 25px;
	background-repeat: no-repeat;
    color:#dd2e44;
    font-weight:bold;
}

html[data-intro="hide"] div.toggle_alert a { 
	background-image:none!important;
	color:var(--link-color)!important;
	font-weight:normal!important;
}

html[data-intro="hide"] div.toggle_alert {
	margin-bottom:20px;
	margin-top:0px;
}

blockquote {background:orange;}

.banner-first {background:black; height:40px;}
.banner-secondary {background:#111; padding-top:5px; padding-bottom:6px;}
.optn {
    background: #4e4e4e;
    padding: 7px;
    padding-top:5px;
    margin-bottom:20px;
    font-size:13px;
    border-radius: 0 0 7px 7px;
    
}
