 
body {
  /* cores de texto */
  --text-white: #ffffff;
  --text-dark: #142136;

  /* cores de fundo */ 
  --bg-white: #ffffff;
  --bg-blue-dark: #142136;
  --bg-indigo: #6366f1;

  font-family: "Inter", sans-serif;
  line-height: 1.7;
  background-color: var(--bg-grey-light);
}
.dark {
  --text-white: #e6e6e6;
  --text-dark: #ffffff; 
  --bg-white: #22395d;
  --bg-blue-dark: #142136; 
  --bg-indigo: #7577e1;
} 
p {
  font-size: 16px;
  color: var(--text-dark)!important;
}
h1 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 40px;
  color: var(--text-dark)!important;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.button {
  width: 200px;
  padding: 5px;
  height: 40px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--bg-indigo)!important;
  color: var(--text-white)!important;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}




a, a:active, a:visited {
    color: var(--link-color);
}
a:hover {
    color: var(--link-color);
}
.box {
	border:1px solid var(--box-border);
	border-bottom:2px solid var(--box-border);
	border-right:2px solid var(--box-border);
	margin-bottom:20px;
	padding:9px;
}
